@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-blue-50: #598eff;
  --color-blue-300: #1c34ff;
  --color-white-50: #fdfdfd;
  --color-black-100: #0b0620;
  --color-black-300: #17151f;
  --color-pink-100: #ff28d5;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
    display: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: var(--font-aeonik-regular); */
  overflow-x: hidden;
  width: 100dvw;
  scroll-behavior: smooth;
  background-color: #0b0620;
  color: #a7a7a7;
  margin: 0;
  padding: 0;
}

section {
  width: 100dvw;
  min-height: 100dvh;
  padding-left: 16px;
  padding-right: 16px;
}

.gradient-title {
  background: linear-gradient(180deg,
      #fdfdfd 43.1%,
      rgba(253, 253, 253, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-border {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.5px;
  /* Border width */
  border-radius: 20px;
  background: linear-gradient(20deg,
      #fdfdfd 0%,
      rgba(253, 253, 253, 0) 100%);
  /* Gradient colors */
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.gradient-box {
  background: rgb(11, 6, 32);
  background: linear-gradient(0deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(16, 11, 51, 0.7217480742296919) 23%,
      rgba(16, 11, 51, 0) 100%);
}

.gradient-sphere {
  position: absolute;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  filter: blur(200px);
}

.sphere-1 {
  background: radial-gradient(circle, #ff28d5, #ff28d5);
  top: -100px;
  left: 300px;
  animation: wander-left 10s ease-in-out infinite;
}

.sphere-2 {
  background: radial-gradient(circle, #1c34ff, #1c34ff);
  top: 100px;
  right: 300px;
  animation: wander-right 12s ease-in-out infinite;
}

.about-gradient-sphere {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(200px);
}

.about-sphere-1 {
  background: radial-gradient(circle, #ff28d5, #ff28d5);
  bottom: 300px;
  right: 150px;
  animation: wander-left 10s ease-in-out infinite;
}

.about-sphere-2 {
  background: radial-gradient(circle, #1c34ff, #1c34ff);
  bottom: 100px;
  right: 50px;
}

.tech-stack-gradient-left-box {
  background: rgb(11, 6, 32);
  background: linear-gradient(90deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(11, 6, 32, 0.6601234243697479) 53%,
      rgba(16, 11, 51, 0) 100%);
}

.tech-stack-gradient-right-box {
  background: rgb(11, 6, 32);
  background: linear-gradient(-90deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(11, 6, 32, 0.6601234243697479) 53%,
      rgba(16, 11, 51, 0) 100%);
}

.side-bar-bg {
  border-bottom: 1px solid rgba(255, 255, 255, 0.01);
  background: rgba(23, 21, 31, 0.7);
  backdrop-filter: blur(10px);
}

.marquee {
  width: 100dvw;
  overflow: hidden;
  position: relative;
}

.marquee-box {
  display: flex;
  align-items: center;
  width: 200%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  animation: marquee 60s linear infinite;
}

.marquee-item {
  float: left;
}

.marquee-item:after {
  content: "";
  position: absolute;
  top: 100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  background: linear-gradient(to bottom,
      rgba(229, 172, 142, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(229, 172, 142, 0));
}

/*This activates the shine once the button has been hovered*/
.marquee-item:hover::after,
button:focus::after {
  animation: shine 1s forwards;
}

.projects-gradient-sphere {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(150px);
}

.projects-sphere-1 {
  background: radial-gradient(circle, #ff28d5, #ff28d5);
  top: 300px;
  left: 50px;
}

.projects-sphere-2 {
  background: radial-gradient(circle, #1c34ff, #1c34ff);
  top: 400px;
  left: 150px;
}

.testimonial-gradient-sphere {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(150px);
}

.testimonial-sphere-1 {
  background: radial-gradient(circle, #ff28d5, #ff28d5);
  bottom: 300px;
  right: 100px;
}

.testimonial-sphere-2 {
  background: radial-gradient(circle, #1c34ff, #1c34ff);
  bottom: 100px;
  right: 0px;
  animation: wander-right 16s ease-in-out infinite;
}

@keyframes wander-left {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20vw) translateY(50vh);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes wander-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(30vw) translateY(-50vh);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shine {
  100% {
    transform: rotateZ(60deg) translate(1em, -15em);
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.aeonik-black {
  font-family: var(--font-aeonik-black);
}

.aeonik-bold {
  font-family: var(--font-aeonik-bold);
}

.aeonik-light {
  font-family: var(--font-aeonik-light);
}

.aeonik-medium {
  font-family: var(--font-aeonik-medium);
}

.aeonik-regular {
  font-family: var(--font-aeonik-regular);
}

/* Text color classes */
.text-blue-50 {
  color: var(--color-blue-50);
}

.text-blue-300 {
  color: var(--color-blue-300);
}

.text-white-50 {
  color: var(--color-white-50);
}

.text-black-100 {
  color: var(--color-black-100);
}

.text-black-300 {
  color: var(--color-black-300);
}

.text-pink-100 {
  color: var(--color-pink-100);
}

/* Background color classes */
.bg-blue-50 {
  background-color: var(--color-blue-50);
}

.bg-blue-300 {
  background-color: var(--color-blue-300);
}

.bg-white-50 {
  background-color: var(--color-white-50);
}

.bg-black-100 {
  background-color: var(--color-black-100);
}

.bg-black-300 {
  background-color: var(--color-black-300);
}

.bg-pink-100 {
  background-color: var(--color-pink-100);
}

/* Border color classes */
.border-blue-50 {
  border-color: var(--color-blue-50);
}

.border-blue-300 {
  border-color: var(--color-blue-300);
}

.border-white-50 {
  border-color: var(--color-white-50);
}

.border-black-100 {
  border-color: var(--color-black-100);
}

.border-black-300 {
  border-color: var(--color-black-300);
}

.border-pink-100 {
  border-color: var(--color-pink-100);
}

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;

  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }

    50% {
      transform: translateX(50%) translateY(10%);
    }

    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }

    50% {
      transform: translateY(50%);
    }

    100% {
      transform: translateY(-50%);
    }
  }
}